html {
  color: #222;
  font-size: 10vmin;
  line-height: 1.4;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 96vmin;
}

table, th, td {
  border: 1px solid black;
  text-align: center;
  cursor: default;
}

td img {
  display: block;
  width: 100%;
  height: auto;
}

td.x:after {
  content: "\274c"; /* use the hex value here... */
  font-size: 10vmin;
  margin-left: -10vmin;
  text-align: center;
  opacity: 0.8;
}

td.coringa.x:after {
  margin-left: 0;
  position: absolute;
  top: 50%;
  left: 46%;
}
